body {
    display: block;
    margin: 0;
    height: 100vh;
    width: 100vw;
    position: relative;
}

.container {
    width: 100%;
    height: 100%;
    background-color: lightgoldenrodyellow;
    display: flex;
    justify-content: center;
    align-items: center;
}

.face {
    background-color: pink;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10x
}