body {
    display: block;
    margin: 0;
    height: 100vh;
    width: 100vw;
    position: relative;
}

.container {
    width: 100%;
    height: 100%;
    background-color: #b3d99c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.face {
    background-color: #F598B1;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px
}

.eyes {
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .eye {
        background-color: #025EA7;
        width: 40px;
        height: 80px;
        border-radius: 100%;
        padding-top: 10px;
        padding-left: 8px;

        &::before {
            content: "";
            display: block;
            width: 16px;
            height: 30px;
            border-radius: 100%;
            background-color: #ffffff;
        }

    }   

}

.expression {
    width: 200px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;

    .blush {
        width: 200px;
        height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .sombra {
            background-color: #F1727F;
            width: 40px;
            height: 22px;
            border-radius: 100%;
            padding-top: 10px;
            padding-left: 8px;
        }
    }

    .mouth {
        width: 200px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;

        .interior-mouth {
            background-color: #5C251A;
            width: 11px;
            height: 15px;
            border-radius: 90%;
            padding-top: 10px;
            padding-left: 8px;
        }
    }
}