body {
    display: block;
    margin: 0;
    height: 100vh;
    width: 100vw;
    position: relative;
}

.container {
    width: 100%;
    height: 100%;
    background-color: #b3d99c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.face {
    background-color: pink;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px
}

.eyes {
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .eye {
        background-color: #414fcc;
        width: 40px;
        height: 80px;
        border-radius: 100%;
        padding-top: 10px;
        padding-left: 8px;

        &::before {
            content: "";
            display: block;
            width: 16px;
            height: 30px;
            border-radius: 100%;
            background-color: #ffffff;
        }

    }   

}

.expression {
    background-color: #ff0062;
    width: 200px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .blush {
        width: 200px;
        height: 40px;
        background-color: orange;
    }

    .mouth {
        width: 200px;
        height: 40px;
        background-color: purple;
    }
}