:root {
    --color-fondo:  #b3d99c;
    --color-piel:   #F598B1;
    --color-ojo:    #025EA7;
    --color-blush:  #F1727F;
    --color-boca:   #5C251A;
    --color-pie:    #D31A58;
    --color-blanco: #ffffff;
}

body {
    display: block;
    margin: 0;
    height: 100vh;
    width: 100vw;
    position: relative;
}

.container {
    width: 100%;
    height: 100%;
    background-color: var(--color-fondo);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.superior {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.brazo {
    background-color: var(--color-piel);
    width: 95px;
    height: 75px;
    border-radius: 50%;
    margin-block-start: 40px;

    &:first-child {
        margin-right: -45px;
    }

    &:last-child {
        margin-left: -45px;
    }
}

.cara {
    background-color: var(--color-piel);
    width: 300px;
    height: 300px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px
}

.ojos {
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .ojo {
        background-color: var(--color-ojo);
        width: 40px;
        height: 80px;
        border-radius: 100%;
        padding-top: 10px;
        padding-left: 8px;

        &::before {
            content: "";
            display: block;
            width: 16px;
            height: 30px;
            border-radius: 100%;
            background-color: var(--color-blanco);
        }
    }   
}

.expresion {
    width: 200px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;

    .blush {
        width: 200px;
        height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .sombra {
            background-color: var(--color-blush);
            width: 40px;
            height: 22px;
            border-radius: 100%;
            padding-top: 10px;
            padding-left: 8px;
        }
    }

    .boca {
        width: 200px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;

        .interior-boca {
            background-color: var(--color-boca);
            width: 11px;
            height: 15px;
            border-radius: 90%;
            padding-top: 10px;
            padding-left: 8px;
        }
    }
}

.pies {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    margin-top: -15px;
}

.pie {
    background-color: var(--color-pie);
    width: 115px;
    height: 70px;

    &:first-child {
        border-radius: 77% 23% 47% 53% / 49% 49% 51% 51%;
    }

    &:last-child {
        border-radius: 23% 77% 53% 47% / 49% 49% 51% 51%;
    }
}