body {
    display: block;
    margin: 0;
    height: 100vh;
    width: 100vw;
    position: relative;
}

.container {
    width: 100%;
    height: 100%;
    background-color: rgb(179, 217, 156);
    display: flex;
    justify-content: center;
    align-items: center;
}

.face {
    background-color: pink;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px
}

.eyes {
    background-color: rgb(65, 79, 204);
    width: 200px;
    height: 80px;
}

.mouth {
    background-color: rgb(255, 0, 98);
    width: 200px;
    height: 80px;
}